doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Proyek TKPPL

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 TKPPL
        ul
          li 
          li Pembimbing : Hardy Huang

      section
        h1 Belajar HTML

      section
        h2 O L E H :
        hr
        ul
          li
          li <em>Andra</em>
          li <em>Fajar Julianto</em>
          li <em>Fredico</em>
          li <em>Rudy Tantono</em>

      section
        h2 Pengenalan WWW & HTML
        ul
          li
          li Berawal pada tahun 1989 di CERN (Consei Europeen pou Ia Reserche Nucleaire/Pusat Riset Nuklir Eropa), Jenewa, Swiss oleh Tim Berners-Lee
          li Menawarkan informasi melimpah dalam berbagai bentuk dengan keterkaitan dokumen <i>Hypertext</i> dan multimedia

      section
        ul
          li Web menggunakan teknologi :
            li <p = "text-align:center">- HTML (<i>Hypertext Markup Language</i>) dipakai untuk menulis web pages</p>
            li <p = "text-align:center">- HTTP (<i>Hypertext Transfer Protocol</i>) untuk transmisi pages</p>
            li <p = "text-align:center">- <i>Web browser client</i>, program untuk menerima data, menerjemahkan dan menampilkan hasil</p>
        ul
          li <i>Web</i> juga telah diadopsi oleh perusahaan sebagai strategi teknologi informasi, karena alasan berikut :
            li - Akses informasi yang mudah
            li - Setup server yang mudah
            li - Distribusi informasi yang mudah dan cepat 

      section
        h2 Istilah Penting dalam WWW
        ul
          li 
          li <i><b>Web master/web manager</b></i> : orang yang bertugas menjaga halaman Web
          li <i><b>Surfer</b></i> : orang yang menjelajahi web
          li <i><b>Hyperlink</b></i> : tulisan atau gambar yang jika diklik akan menampilkan halaman web lainnya
          li <i><b>Hypertext</b></i> : teks dalam dokumen yang saling terhubung dengan teks lain dalam cara yang nonlinear
          li <i><b>URL</b></i> : rangkaian karakter menurut suatu format standar tertentu, yang digunakan untuk menunjukkan alamat suatu sumber seperti dokumen dan gambar di internet.
          
      section
        h2 Cara Kerja WWW
        ul
          li 
          li <p style="text-align:center">Informasi <i>web</i> disimpan dalam dokumen yang dinamakan <i>web page</i></p>
          li <p style="text-align:center">Web <i>page</i> disimpan ke dalam komputer yang dinamakan <i>web server</i></p>
          li <p style="text-align:center"><i>User</i> menampilkan <i>web page</i> dengan menggunakan <i>web browser</i></p>
          li <p style="text-align:center"><i>Web browser</i> meminta <i>web page</i> kepada <i>web server</i> dengan mengirim <i>request</i> alamat dari <i>web page</i> tersebut, misalnya <u>http://www.yahoo.com</u></p>
          li <p style="text-align:center">Pada saat <i>web browser</i> menerima <i>web page</i> dari <i>web server</i>, isi <i>web page</i> akan diterjemahkan dan ditampilkan ke layar oleh <i>web browser</i></p>
        
      section 
        h3 HTML dan CSS dasar
          hr
          ul
          li Pengantar
          li Struktur Dokumen HTML
          li Penulisan HTML
          li Entitas karakter
          li Dasar CSS

      section
        h3 Pengantar
          hr
          ul 
            li <b>HTML</b> : Bahasa Penanda yang digunakan untuk memberikan struktur kepada sebuah konten/teks 
            li <b>CSS</b>  : Bahasa yang digunakan untuk memberikan konten gaya penampilan konten menjadi lebih bagus
            <li style="font-size:14px"> Contoh  : kita memberikan elemen paragraph (<"p">...<"/p"> pada sebuah konten yang berarti konten tersebut akan dijadikan sebuah paragraf. CSS kemudian digunakan untuk menentukan ukuran teks,warna teks,spasi, dan berbagai gaya penampilan dari paragraph (konten) tersebut.

      section

        h3 Struktur Dokumen HTML
          ul <b> Elemen HTML</b>
            p
              li <p style="font-size:14px">Mengandung keseluruhan Dokumen HTML
              li <p style="font-size:14px">Tag pembuka elemen HTML merupakan tanda awal dokumen HTML, dan tag penutup adalah tanda akhir Dokumen.
          ul <b> Elemen Head</b>
              li <p style="font-size:14px">Tidak harus ada pada dokumen HTML
              li <p style="font-size:14px">Digunakan untuk menguraikan berbagai meta data(informasi yang berkaitan dengan dokumen), judul dokumen,dan tautan dokumen ke berkas-berkas eksternal
              
      section
        h2 Struktur Dokumen HTML
          hr
          ul 
              li <p style="font-size:14px">Berbagai data yang ada di dalam elemen head tidak terlihat pada halaman web(tampilan browser)
          ul <b> Elemen title</b>
            li <p style="font-size:14px">memberikan judul dokumen
          ul <b> Elemen Body</b>
            li <p style="font-size:14px">Merupakan isi utama dari dokumen HTML
            li <p style="font-size:14px">Semua Informasi yang akan ditampilkan seperti teks,gambar,suara dan sebagainya akan ditempatkan dibagian ini
            li <p style="font-size:14px">Memiliki beberapa atribut yang digunakan untuk mengatur penampilan dokumen HTML

      section

        h3 Penulisan HTML
          hr
          <li style="font-size:14px"> Browser HTML menginterpretasikan satu atau beberapa spasi yang berdekatan sebagai sebuah spasi tunggal
          <li style="font-size:14px"> Browser HTML menginterpretasikan <i>carriage return</i>(enter) dan indentasi(tab) sebagai sebuah spasi
          <li style="font-size:14px"> Ada beberapa karakter khusus yang dapat dipresentasikan dengan kode tertentu. Hal ini akan dibahas pada entitas karakter.

      section
        h3 Komentar pada HTML
          hr
          <li style="font-size:14px">Berfungsi untuk memberi komentar atau catatan terhadap dokumen itu tersendiri
          <li style="font-size:14px">Mempermudah pembacaan kembali kode-kode HTML
          <li style="font-size:14px">Isi dari tag comment tidak ditampilkan oleh web browser
          <li style="font-size:14px">Menggunakan tanda khusus agar komentar tidak dapat dibaca pada browser
          <li style="font-size:14px">Tag yang digunakan menandai bagian komentar adalah:<!--dan diakhiri dengan-->

      section
        h3 Entitas Karakter
          hr
          <li style="font-size:14px">Beberapa karakter di dalam dokumen HTML merupakan reserved word HTML
          <li style="font-size:14px">Misalnya tidak boleh mengetikan tanda "<" atau ">" dalam teks editor karena browser akan menganggapnya sebagai tag
          hr
          ul terdiri dari 3 bagian :
            <li style="font-size:14px">Ampersand (&)
            <li style="font-size:14px">Nama Entitas, atau simbol # diikuti nomor entitas
            <li style="font-size:14px">Simbol titik koma(;)
          <li style="font-size:14px">Bersifat case sensitive

      section
        h3 Dasar CSS
          hr
          li Cascading Style Sheets
          ul Kelebihan CSS :
            <li style="font-size:14px">Menyederhanakan perancangan halaman web
            <li style="font-size:14px">Memudahkan pemeliharaan halaman web
            l<li style="font-size:14px">Memperkecil ukuran file HTML(jika CSS dikerjakan dalm file terpisah)
          ul Kekurangan CSS :
            <li style="font-size:14px">Halaman WEB mungkin tidak ditampilkan dengan benar pada browser,sesuai Spesifikasi CSS
            
      section
        h3 Rule
          hr
          <li style="font-size:14px">Selector-> Elemen atau tag HTML normal yang ingin didefinisikan.
          <li style="font-size:14px">Property-> Atribut yang ingin dipilih,dimana masing-masing 
          p <b>Property</b> dapat diberikan nilai(<b>value</b>)
          <li style="font-size:14px">Penulisan antara <b>Property</b> dan <b>value</b> dipisahakan oleh tanda titik dua(:) dan dibuka dengna tanda "{" dan ditutup dengan tanda "}"
        ul Komentara Pada CSS
          hr
          <li style="font-size:14px">Dimulai dengan tanda /*
          <li style="font-size:14px">Diakhiri dengan tanda */

      section
        h3 Mengimplementasikan CSS pada HTML
          hr
          <li style="font-size:14px">Setelah HTML selesai dituliskan,kita dapat mereferensikan CSS kepada HTML yang ada, agar desain yang dispesifikasi oleh CSS dapat diaplikasikan pada HTML
          hr
          ul Tiga Cara untuk memberikan referensi CSS,yaitu :
            hr
            <li style="font-size:14px">Referensi ke File eksternal
            <li style="font-size:14px">Penulisan CSS pada elemen head
            <li style="font-size:14px">CSS didalam atribut style pada elemen

      section
        h3 Referensi ke File Eksternal
          hr
          <li style="font-size:14px">Kita dapat memberikan referensi kesebuah file CSS yang berada diluar HTML
          <li style="font-size:14px">Cara referensi CSS seperti ini sering kali dianggap sebagai best practice dalam pengembangan web
          <li style="font-size:14px">Dilakukan dengan memanggil link nama file CSS yang akan digunakan(disimpang ekstensi .css)
          <li style="font-size:14px">Dipanggil dengan menambahkan tag<link>pada bagian header halaman
          <li style="font-size:14px"> link rel="stylesheet" href ="style.css"

      section
        h3 Penulisan CSS pada Elemen CSS pada Elemen Head
          hr
          <li style="font-size:14px">Penulisan CSS seperti ini tidak disarankan, karena umumnya elemen-elemen yang ada di dalam sebuah dokumen akan digunakan kembali pada dokumen lain.
          <li style="font-size:14px">Penulisan CSS seperti ini akan menyebabkan elemen-elemen yang berulang harus dituliskan ulang pada dokumen lain juga
          <li style="font-size:14px">Pendefinisian diletakkan diantara tag "style".."/style" pada bagian header
          <li style="font-size:14px"> style type="text/css" h1 { color red;} /style

      section
        h3 CSS di dalam Atribut Style pada Elemen
          hr
          <li style="font-size:14px">Menuliskan CSS di dalam atribut style pada elemen HTML(atribut ini dimiliki oleh semua elemen)merupakan cara terakhir, yang juga tidak disaranakan karena penulisan seperti ini akan "mengotori" kode HTML
          <li style="font-size:14px">Atribut style ditambah ke tag awal yang akan diberikan CSS
          <li style="font-size:14px"> p style="font-weight:bold"

      section
        h3 Grouped Selector
          hr
          <li style="font-size:14px">Bebebrapa selector format tampilannya secara umum menggunakan style yang sama dapat digabungkan menjadi satu.
          <li style="font-size:14px">Setiap selector dipisahakan dengan tanda koma(,)
          <li style="font-size:14px"> h1,h2,h3 {color:green;}

      section
        h3 Descendant Selector
          hr
          <li style="font-size:14px"> Diterapkan pada elemen yang diturunkan dari elemen lainnya.
          <li style="font-size:14px"> Dibentuk dengan menambahkan spasi diantara elemen dengan elemen yang diturunkan.
          <li style="font-size:14px"> p em{color:green}

      section
        h3 ID selector
          hr
          <li style="font-size:14px">selector id digunaan untuk menentukan style bagian unik dari html
          <li style="font-size:14px">Unik disini artinya satu nama id bisa digunakan satu kali pada sebuah halaman web
          <li style="font-size:14px">Digunakan simbol tanda pagar(#) diikuti nama id pada elemen, untuk mendeklarasikannya pada css
          <li style="font-size:14px"> #satu{color:green;}

      section
        h3 Class Selector
          hr
          <li style="font-size:14px">Selector class digunakan untuk menentukan style dari sebuah group elemen terpilih.
          <li style="font-size:14px">Selector class bisa dipakai berulangkali pada sebuah dokumen web
          <li style="font-size:14px">Artinya sebuah nama class dapat dipanggil beberapa kali pada elemen-elemen yang ada pada sebuah halaman web
          <li style="font-size:14px">Digunakan simbol titik(.) diikuti nama class pada elemen, untuk mendeklarasikannya pada CSS
          <li style="font-size:14px"> .satu{color:green;}

      section
        h3 Universal Selector
          hr
          <li style="font-size:14px">Menerapkan Style CSS pada seluruh elemen
          <li style="font-size:14px">Digunakan simbol tanda bintang(*) untuk mendeklarasikannya pada CSS
          <li style="font-size:14px"> *{color:green;}


      section
        h2 Tag HTML
        hr
        ul
          li
          li Digunakan untuk menandai elemen HTML
          li Diapit oleh dua karakter (<b><</b> dan <b>></b>)
          li Teks yang terletak diantara tag awal dan akhir adalah isi elemen
          li Tidak <em>case sensitive</em> (contoh : < b > tidak berbeda dengan < B >)


      section
        h2 Atribut Tag HTML
        hr
        ul
          li 
          li Tag - Tag HTML dapat memiliki atribut
          li Dapat diberi nilai ataupun tidak berniilai
          li Didefnisikan pada tag awal dari sebuh elemen HTML

      section
        ul
          li
          li Penulisan tag yang memiliki atribut : <br>
          li *) < nama_tag atribut1="nilai" [atribut2="nilai" atribut3="nilai" ...] >
          li Contoh : 
          li < hr align="right" >
          li < hr align="left" noshade >
          li < img src="images/foto.jpg" alt=" " height="400" width "300" >
          hr
          hr
          li *) < nama _tag atribut="nilai" [atribut2="nilai" atribut3="nilai" ...] > ... < /nama tag>
          li Contoh:
          li < font face="Arial" size="5" color="#CCCC"> ... < /font >

      section
        h3 <b>Pemformatan dokumen HTML</b>
        ul
          li 
          li Tag - tag yang biasa digunakan itu sangatlah banyak
          li diantaranya :
          li <b>Tag <font color=red>< p ></font></b> 
          li untuk memulai paragraf baru 
          li Atribut dari <font color=red>< p ></font> : align
          li Fungsi align : Mengatur peletakan teks dalam paragraf
          li Nilai - nilai dari align :
          li center
          li justify
          li left (default)
          li right
          li Contoh : < p align="right" >Sans-serif fonts don't have serif slabs< /p >

      section
        ul
          li 
          li <b>Tag <font color=red>< br ></font></b> 
          li untuk membuat baris baru
          li Contoh :
          li Ini adalah <br> <br>
          li contohnya
          li <b>Tag <font color=red>< hn > ... < /hn > </font></b> 
          li untuk mengatur ukuran teks yang dijadikan sebagai judul (heading) dalam badan dokumen
          li Catatan : * <i>n</i> bernilai antara 1 - 6
          li * dan berguna jika dokumen terbagi menjadi beberapa bab dan subbab

      section
        ul
          li Atribut dari hn : untuk mengatur peletakkan teks dalam heading
          li Nilai dari align tersebut :
          li center
          li justify
          li left (default)
          li right

      section
        ul
          li <b>Tag <font color=red>< hr ></font></b>
          li untuk membuat garis batas horizontal
          li sekaligus akan membuat garis baru
          li Tag ini memiliki beberapa atribut, sebagai berikut :
          li <em>align</em> : Menentukan posisi vertikal garis pemisah
          li <em>color</em> : menentukan warna garis batas
          li <em>noshade</em> : Menonaktifkan efek tiga dimensi
          li <em>size</em> : Menentukan tebal garis batas
          li <em>width</em> : Menentukan lebar garis batas, dimana nilai yang dimasukkan dapat berupa pixel mauun persen dari lebar jendela browser

      section
        ul
          li <b>Tag <font color=red>< pre > ... < /pre ></font></b>
          li untuk membuat tampilan dokumen HTML pada browser sama dengan tampilan pada teks editor

      section
        ul
          li 
          li <b>Tag <font color=red>< center > ... < /center ></font></b>
          li untuk menampilkan posisi teks rata di tengah
          li <b>Tag <font color=red>< div > ... < /div ></font></b>
          li berfungsi seperti tag <font color=red>< p ></font>
          li berguna untuk mengelompokkan sejumlah baris eks yang memiliki karakteristik yang sama
          li Tag div ini memiliki atribut align juga
          li dimana fungsi align disini adalah untuk mengatur teks
          
      section
        ul
          li Nilai - nilai dari align tersebut : 
          li center
          li justify
          li left (default)
          li right

      section
        h2 Pemformatan Teks
        ul
          li 
          li <b>Logical format</b> :
          li untuk menerapkan layout dokumen secara logis dan terstruktur atau seperti teks yang ditekankan
          <hr>
          li <b>Physical format</b> :
          li untuk memberikan format terhadap fisik suatu font

      section
        Tag Tag-tag logical format :
        table(style="font-size:15px;text-align:left;")
          tr
            td(style="width:30%;border-bottom:2px solid;") <b>Tag</b>
            td(style="border-bottom:2px solid;") <b>Fungsi</b>
          tr
            td(style="border-bottom:1px solid;") < cite >...< /cite >
            td(style="border-bottom:1px solid;") Menandai suatu kutipan (citation)
          tr
            td(style="border-bottom:1px solid;") < code >...< /code >
            td(style="border-bottom:1px solid;") Menampilkan kode-kode pemrograman (umumnya teks ditampilkan dengan font monoskrip)
          tr
            td(style="border-bottom:1px solid;") < em >...< /em >
            td(style="border-bottom:1px solid;") Menandai suatu teks yang ditekankan oleh penulis (umumnya teks ditampilkan miring)
          tr
            td(style="border-bottom:1px solid;") < kbd >...< /kbd>
            td(style="border-bottom:1px solid;") Menandai suatu teks yang harus dimasukkan oleh user melalui keyboard (umumnya teks ditampilkan dengan font monospasi)
          tr
            td(style="border-bottom:1px solid;") < samp >...< /samp >
            td(style="border-bottom:1px solid;") Menandai suau teks yang dimaksudkan sebagai contoh (umumnya teks ditampilkan dengann font monospasi)
          tr
            td(style="border-bottom:1px solid;") < strong >...< /strong >
            td(style="border-bottom:1px solid;") Menandai bagian yang terpenitng dari suatu teks (biasanya teks disajikan dalam bentuk cetak tebal)
          tr
            td(style="border-bottom:1px solid;") < var >...< var >
            td(style="border-bottom:1px solid;") Menampilkan nama variabel atau ekspresi matematika / program komputer (biasanya teks disajikan dalam bentuk cetak miring)
          tr
            td(style="border-bottom:1px solid;") < dfn >...< dfn >
            td(style="border-bottom:1px solid;") Menandai sebuah subdefinisi dari daftar definisi

      section
        Tag Tag-tag physical format :
        table(style="font-size:15px;text-align:left;")
          tr
            td(style="width:30%;border-bottom:2px solid;") <b>Tag</b>
            td(style="border-bottom:2px solid;") <b>Fungsi</b>
          tr
            td(style="border-bottom:1px solid;") < b >...< /b >
            td(style="border-bottom:1px solid;") Menampilkan huruf tebal
          tr
            td(style="border-bottom:1px solid;") < i >...< /i >
            td(style="border-bottom:1px solid;") Menampilkan huruf miring
          tr
            td(style="border-bottom:1px solid;") < tt >...< /tt >
            td(style="border-bottom:1px solid;") Menampilkan huruf seperti huruf mesin ketik
          tr
            td(style="border-bottom:1px solid;") < u >...< /u >
            td(style="border-bottom:1px solid;") Menampilkan garis bawah pada suatu kata
          tr
            td(style="border-bottom:1px solid;") < strike >...< /strike >
            td(style="border-bottom:1px solid;") Menampilkan garis horizontal pada bagian tengah huruf
          tr
            td(style="border-bottom:1px solid;") < big >...< /big >
            td(style="border-bottom:1px solid;") Menampilkan ukuran huruf yang lebih besar
          tr
            td(style="border-bottom:1px solid;") < small >...< /small >
            td(style="border-bottom:1px solid;") Menampilkan ukuran huruf yang lebih besar
          tr
            td(style="border-bottom:1px solid;") < sub >...< /sub >
            td(style="border-bottom:1px solid;") Menampilkan subscript
          tr
            td(style="border-bottom:1px solid;") < sup >...< /sup >
            td(style="border-bottom:1px solid;") Menampilkan superscript

      section
        ul
          li tag < q >...< /q >
          li untuk menandai suatu kutipan pendek
          li < blockquote >...< /blockquote>
          li * untuk menandai bagian yang dikhususkan pada sebuah dokumen, misalnya kutipan-kutipan dari kitab suci atau kata-kata mutiara, dan sebagainya
          li * Biasanya teks akan tampil lebih kedalam
          li Tag < address >...< /address >
          li untuk mendefinisikan suatu alamat
          li Tag < abbr >... < /abbr>
          li untuk mendefinisikan suatu singkatan
          li Tag < acronym >...< /acronym >
          li untuk mendefinisikan suatu akronim/singkatan     

      section
        ul
          li Tag < del >...< /del >
          li untuk mendefinisikan teks yang dihapus
          li Tag < bdo >...< /bdo >
          li untuk mendefinisikan arah penulisan teks
          li tag ini memiliki 1 atribut dan beberapa nilai:
          li atribut : dir
          li Nilainyai :
          li ltr -> left to right (default)
          li rtl -> right to lefe
          li Tag < ins >...< /ins >
          li untuk mendefinisikan teks yang disisipkan

      section
        h1 Hyperlink
          
      section
        ul
          li Hyperlink merupakan kata, kalimat atau gambar yang ketika diklik dapat navigasi ke halaman lainnya. Dengan link, pengunjung website dapat navigasi dengan mudah dari suatu halaman ke halaman lainnya. Gunakan tag < a > untuk mendefinisikan HTML Link. Secara default, link ditampilkan : 
              li <p = "text-align:center">Warna biru & bergaris bawah untuk yang belum pernah dikunjungi
              li <p = "text-align:center">Warna ungu & bergaris bawah untuk yang sudah pernah dikunjungi
          li Sintaks untuk Hyperlink adalah 
              li < a href="url" ><font color="Blue"><u>Link text</u></font>< /a >
          li Example : 
              li < a href="www.Mikroskil.ac.id" ><font color="Blue"><u>Mikroskil</u></font>< /a >

      section
        ul
          li Atribut dengan nilai "_blank" akan membuka link target ke jendela atau tab browser yang baru. 
          li Sintaks :
            li < a href="www.mikroskil.ac.id" target="_blank" ><font color="blue"><u>Mikroskil</u></font>< /a >
          li Atribut dengan nilai "_self" akan membuka link target ke jendela atau tab browser yang sama.
          li Sintaks :
            li < a href="www.mikroskil.ac.id" target="_self" ><font color="blue"><u>Mikroskil</u></font>< /a >

      section
        ul
          li Jenis-jenis Link:
          uli
          li Link Absolut
            li Menguraikan URL lengkap dari dokumen target link. Contoh :
              li < a href="http://www.mikroskil.ac.id" target="_blank" ><font color="blue"><u>Mikroskil</u></font>< /a >
          li Link Relatif
            li Menguraikan nama lokasi ke dokumen target link secara relatif dengan dokumen saat ini, tidak perlu URL Lengkap. Contoh :
              li < a href="Mika/Login.html" target="_blank" ><font color="blue"><u>Login</u></font>< /a >
          li Link Email
            li Link ini berguna untuk mengaktifkan program <i>email client</i> untuk mengirim email. Contoh :
              li < a href="mailto:Pororo@mikroskil.com" ><font color="blue"><u>Email Me</u></font>< /a>

      section
        ul
          li Link ke Bagian tertentu suatu halaman web  
            li Link ini berguna menyediakan <i>shorcut</i> ke informasi pada bagian bawah dan sebaliknya kembali ke atas. Caranya adalah :
            li 1. Buat penamaan di lokasi tujuan.
              li caranya : 
                li Menggunakan atribut id dengan diberi nilai dengan nama sebagai target link. Contoh :
                  li < h1 > id="startD" >D</ h1 >
                li Gunakan atribut name dari tag < a > dimana atribut name diberi nilai dengan nama sebagai target link. Contoh:
                  li < h1 >< a name="startD" ><font color="blue"><u>D</u></font>< /a >< /h1 >
            li 2. Membuat link dengan target nama yang sudah dibuat di langkah pertama. Contoh :
              li < p >A | B | C |< a href="#startD" ><font color="blue"><u>D</u></font>< /a >< /p >
      
      section
        ul
          li Link Download
            li Link ini berguna untuk mengaktifkan download suatu file. Caranya atribut href diisi dengan lokasi dan nama file yang akan didownload. Caranya : 
              li 1. Buatlah struktur folder dan file seperti contoh ini : 
                li folder "download" yang berisi "contoh.zip".
              li 2. Ketikkan kode HTML seperti berikut : 
                li < a href="download/contoh.zip" ><font color="blue"><u>Mikroskil</u></font>< /a >

      section
        h2 Layout

      section
        hr
        ul
          li Layout berbicara mengenai bagaimana penataan elemen-elemen dalam sebuah halaman dengan benar. Pada bagian ini, kita hanya akan membahas elemen-elemen layout yang umumnya ditemukan pada dokumen web, dan bagaimana membuat elemen-elemen tersebut dengan <b>HTML</b> dan <b>CSS</b>.
        ul

      section
        hr
        ul
        <p style="text-align:center"> Sebuah dokumen web umumnya memiliki 5 elemen sebagai berikut:
        li Header
        li Navigation
        li Sidebar
        li Content
        li Footer

      section
        ul
          li Header = elemen yang biasanya berisi judul, logo website, maupun nama website.
          li Navigation = memberikan akses navigasi ke halaman-halaman lain dalam website.
          li Sidebar = dapat berupa iklan/menu tambahan, sidebar dapat terletak di kiri, kanan ataupun pada keduanya.
          li Content = Isi utama dari suatu website.
          li Footer = Bagian penutup dari website, dapat berupa lisensi pengunaan, <em>sitemap</em>, ataupun link ke website lain.

      section
        h3 Box Model
          hr
          ul
            <li style="font-size:14px">Salah satu prinsip mendasar dalam menyusun elemen-elemen HTML ialah Box Model. Apa itu box model? Konsep box model pada dasarnya merupakan konsep yang menyatakan bahwa elemen-elemen yang ada di dalam HTML adalah berbentuk kotak. Ukuran setiap elemen itu sendiri dipengaruhi oleh isi dari elemen, margin, padding, dan border dari elemen tersebut.
            li Ini adalah tampilan dari Box Model
            <div style="background:#CDE; border:25px solid #ABC; height:150px; margin:25px; padding:25px; width:500px;"></div>
            <li style="font-size:14px">Bagaimana cara membuatnya? Mari kita lihat properti-properti CSS yang memengaruhi Box Model

      section
        hr
        ul
          <div style="background:#CDE; border:25px solid #ABC; height:150px; margin:25px; margin-top:-100px; padding:25px; width:500px;">Konten</div>
          <li style="margin-top:-75px;">Width
          <li style="margin-top:-85px; margin-left:397px;">Height
          <li style="margin-top:-63px; margin-left:-387px;">Padding
          <li style="margin-top:-78px; margin-left:-479px;">Margin
          <li style="margin-top:-10px; margin-left:-440px;">Border
          <li style="margin-top:130px;"> Pengukuran Box Model

      section
        h3 Properti Height dan Width
        hr
        ul
          li Setiap elemen yang ada dalam HTML memiliki tinggi dan lebar yang standar, yang didapatkan dengan menyesuaikan ukuran konten. Tergantung kepada tujuan pembuatan dokumen, tinggi dan lebar standar yang diberikan oleh elemen mungkin saja tidak tepat digunakan. Properti <b>height</b> dan <b>weight</b> digunakan untuk mengubah tinggi dan lebar standar ketika dibutuhkan.
          li Berikut adalah contoh pengunaan kedua properti ini :
          <li style="text-indent:-50px;"> div{
          <li style="text-indent:67px;"> height: 20px;
          <li style="text-indent:65px;"> width: 30px;
          <li style="text-indent:-35px;"> }

      section
        h3 Properti Margin dan Padding
        hr
        ul
          <li style="font-size:14px"> Setiap browser memberikan jarak antar elemen secara standar, agar elemen-elemen HTML dapat ditampilkan dengan optimal. Jarak antar elemen ini berbeda-beda, tergantung kepada browser yang mengimplementasikan. Untuk mengubah jarak antar elemen, kita dapat menggunakan properti margin.
          <li style="font-size:14px"> Terkadang kita juga ingin memberikan jarak di dalam elemen sendiri, yaitu jarak dari konten elemen ke pembatas (border) elemen. Jarak ini dikenal dengan nama padding. Padding kerap digunakan untuk memberikan warna latar yang baik pada elemen. Berikut adalah contoh kode pengunaan margin dan padding :
          <li style="text-indent:-50px;"> div {
          <li style="text-indent:73px;"> margin: 10px;
          <li style="text-indent:82px;"> padding: 15px;
          <li style="text-indent:-27px;"> }

      section
        hr
        ul
          <li style="font-size:14px"> Sedikit catatan tambahan, properti padding dan margin dapat juga ditulis dengan singkat. Penulisan hanya dengan satu nilai seperti pada kode slide sebelumnya akan menyebabkan nilai padding dan margin diimplementasikan pada keempat sisi elemen (top, right, bottom and left)
          <li style="font-size:14px"> Mengisikan dua nilai akan mengisikan nilai padding/margin atas dan bawah pada nilai pertama, serta kiri dan kanan pada nilai kedua, seperti berikut:
          <li style="font-size:14px; text-indent:-50px;"> p{
          <li style="font-size:14px; text-indent:80px;"> margin: 25px 50px;
          <li style="font-size:14px; text-indent:-43px;"> }
          <li style="font-size:14px"> Pengisian empat nilai akan dilakukan secara berurutan pada margin/padding dari atas, kanan, bawah, dan kiri, seperti ini:
          <li style="font-size:14px; text-indent:-80px;"> p{
          <li style="font-size:14px; text-indent:110px;"> margin: 10px 20px 30px 40px;
          <li style="font-size:14px; text-indent:-73px;"> }

      section
        h3 Border
        hr
        ul
          <li style="font-size:14px">Border fungsinya sebagai pemberi tanda batas elemen memisahkan margin dan padding. Terdapat tiga properti utama yang membentuk sebuah border, yaitu border-width, border-style, dan border-color.
          <li style="font-size:14px">border-width, properti ini menentukan ketebalan border, yang diisikan dengan nilai pixel. Contoh kodenya :
          <li style="font-size:14px; text-indent:-50px;"> div{
          <li style="font-size:14px; text-indent:80px;"> border-width: 10px;
          <li style="font-size:14px; text-indent:-37px;"> }
          <li style="font-size:14px">border-style, properti ini menentukan cara penampilan dari border. Pilihan nilai yang dapat diisikan yaitu: none, hidden, dotted, dashed, solid, double, groove, ridge, inset, dan outset. Ingin mengetahui kegunaan masing-masing nilai? Silahkan coba implementasikan saja elemen tersebut, jika tidak diisikan, maka secara otomatis nilai yang dipilih ialah none, sehingga border tidak akan tampak. Contoh kodenya :
          <li style="font-size:14px; text-indent:-50px;"> div{
          <li style="font-size:14px; text-indent:80px;"> border-style: solid;
          <li style="font-size:14px; text-indent:-37px;"> }

      section
        hr
        ul
          <li style="font-size:14px">border-color, memberikan warna kepada border. Jika warna tidak diberikan, maka border akan otomatis menjadi warna hitam. Contoh kodenya :
          <li style="font-size:14px; text-indent:-50px;"> div{
          <li style="font-size:14px; text-indent:80px;"> border-color: red;
          <li style="font-size:14px; text-indent:-35px;"> }
          <li style="font-size:14px">Ketiga properti sebelumnya seringkali digunakan bersamaan, karena ketergantungan antar properti tersebut dalam membuat border yang bagus. Penggabungan ketiga properti dapat ditulis dalam properti border seperti kode berikut :
          <li style="font-size:14px; text-indent:-50px;"> div{
          <li style="font-size:14px; text-indent:90px;"> border: 1px solid red;
          <li style="font-size:14px; text-indent:-33px;"> }
          <li style="font-size:14px">Dan seperti yang dapat dilihat dari kode di atas, tentunya urutan penulisannya ialah border-width border-style border-color.

      section
        hr
        ul
          <li style="font-size:14px">Meskipun seluruh elemen pada dasarnya berbentuk kotak, CSS memungkinkan kita untuk menampilkan elemen dengan sedikit variasi, yaitu memberikan sudut bulat kepada elemen.
          <div style="background:#CDE; border:3px solid red; height:150px; margin:25px; margin-top: 10px; padding:25px; width:500px; border-radius: 20px;"></div>
          <li style="font-size:14px">Kita dapat menggunakan properti border-radius untuk membuat efek sudut bulat seperti gambar diatas, dengan menggunakan kode berikut :
          <li style="font-size:14px; text-indent:-50px;"> div{
          <li style="font-size:14px; text-indent:80px;"> border-radius: 15px;
          <li style="font-size:14px; text-indent:-35px;"> }

      section
        h1 Tipografi

      section
        ul
          li Tipografi merupakan salah satu bahasan dalam bidang design grafis yang berfokus pada teknik dan seni membuat teks menjadi dapat disimak dengan mudah.
          li Perancangan teks pada tipografi dilakukan melalui <i>typesetting</i>, yaitu pengaturan komposisi huruf dan teks.
          li Komposisi pada <i>typesetting</i> mencakup jenis huruf yang digunakan, ukuran, panjang, jarak.

      section
        ul
          li Tipografi berbicara tentang <font color="red"> Readability</font> dan <font color="red">legibility</font> / mengenali setiap huruf dan kata.
          li Tipografi membuat teks menjadi menarik.
          li Secara Teknis, Tipografi membuat pemnbaca jika sekali membaca akan sulit untuk berhenti membaca / melakukan hal lain.

      section
        h1 Background

      section
        h3 Pengantar Background
        <li style="font-size:14px"> BackGround atau dikenal dengan latar belakang,merupakan salah satu komponen desain yang cukup penting
        <li style="font-size:14px">Background memiliki pengaruh yang sangat besar terhadap keseluruhan desain dari sebuah website
        <li style="font-size:14px">Penambahan latar belakang kesebuah elemen dapat dilakukan dengan banyak cara,mulai dari penambahan warna,penambahan gambar,ataupun penggabungan dari keduanya

      section
        h3 Property CSS untuk background
        <li style="font-size:14px">Penambahan warna dilakukan dengan properti background atau background-color
        <li style="font-size:14px">contoh penggunaan : div {background:#f00; background-color:#F00;}

      section
        h3 Warna latar belakang
        <li style="font-size:14px">Pengisian nilai dari properti ini dapat menggunakan beberapa cara, yaitu kode heksa,rg,rgba,hsl,maupun hsla
        <li style="font-size:14px">div{background:#F00;background:rgb(255,0,0);background:rgba(255,0,0,1);background:hsl(0,50,100);background:hsla(0,50,100,1);}

      section
        h3 Gambar Latar Belakang
        <li style="font-size:14px">Penambbahan gambar latar belakang juga dilakukan dengan menggnunakan dua properti,yaitu background dan background-image
        <li style="font-size:14px">contoh penggunaan : div{background:url(latar.png);background-image:url(latar.png);}
        <li style="font-size:14px">Penambahan gambar dengan cara tersebut akan memberikan masalah ketika ukuran gambar tidak sama dengan ukuran elemen
        <li style="font-size:14px">Gambar akan ditampilakn berulangkali,secara horizontal maupun vertikal,jika ukuran elemen lebih besar dari ukuran gambar

      section
        h3 Perulangan Gambar Latar
        hr
        <li style="font-size:14px">Kita dapat menggunakan properti background-repeat untuk mengatur bagaimana perulangan gambar latar ingin dilakukan
        <li style="font-size:14px">Terdapat empat nilai yang dapat diisikan pada properti background-repeat, yaitu repat,no-repeat,repeat-x dan repeat-y, dengan nilai repeat yang merupakan nilai default yang memberikan perulangan pada sumbu x dan sumbu y
        <li style="font-size:14px">Nilai no-repeat menghilangkan perulangan,repeat-x memberikan(horizontal) dan repeat-y memberikan perulangan pada sumbu y ( vertikal )

      section
        h3 Posisi Gambar Latar
        hr
        <li style="font-size:14px">Posisi gambar latar dapat diatur menggunakan properti background-position, yang menerima dua nilai:koordinat sumbu x dan sumbu y tempat kita ingin meletakkan gambar latar
        <li style="font-size:14px">Koordinat yang diisikan menggunakan sistem koordinat kartesius terbalik,dimana titik 0,0 berada pada kiri atas elemen

      section
        h3 Penggabungan Gambar latar
        hr
        <li style="font-size:14px"> Salah satu fitur CSS yang sangat memudahkan kita dalam membuat desain yang baik ialah kemudahan yang disediakan untuk memberikan beberapa gambar latar belakang pada sebuah elemen
        <li style="font-size:14px">Cara pemberiannya sederhana, dengan hanya menambahkan daftar latar belakang yang ingin digunakan, dipisahkan dengan tanda.

      section
        h3 Gradien
        hr
        <li style="font-size:14px">Gradien digunakan dalam desain terutama untuk menghilangkan impresi warna yang terlalu besar, ataupun untuk memberikan efek transisi kepada pengguna
        <li style="font-size:14px">Terdapat dua jenis gradien utama, yaitu "Linear Gradient" dan "Radial Gradient"
        <li style="font-size:14px">Untuk membuat linear gradient, kita dapat menggunakan sintaks sebagai berikut
        <li style="font-size:14px">div {background:linear-gradient(#F00,#F80)}

      section
        h3 Linear Gradien
        hr
        <li style="font-size:14px">Dapat juga menambahkan arah gradien dengan menambahkan nilai arah yang diinginkan pada parameter pertama fungsi
        <li style="font-size:14px">Nilai-nilai yang dapat diisikan pada parameter pertama ialah nilai arah dan gabungannya, seperti right,left,top,bottom, maupun top right, bottom left, dan seterusnya
        <li style="font-size:14px">Dapat juga mengisikan nilai derajat lingkaran pada parameter pertama

      section
        h3 Radial Gradien
        hr
        <li style="font-size:14px">Pembuatan radial sendiri menggunakan sintaks yang sama, dengan nama fungsi radial-gradient
        <li style="font-size:14px">div{background:radial-gradient(#FOO,#FFF)} 



    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild